h1 {
    color: red;
    text-align: center;
}
#sav{
    margin-left: 10%;
    margin-right: 10%;
}
.slika{
    box-sizing: border-box;
    display: inline-block;
    width: 320px;
    height: 400;
    padding: 20px;
    margin-left: 20px;
    float: left;
    
    
    
}
.Title{
    display: inline-block;
    color: rgb(0, 132, 255);
    
    
    
}
body.Title{
    text-align: left;
}
.opis{
    text-align: justify;
    padding: 16px;
}
.prvaSlika{
    text-align: center;
}
